/研发工具/*.dat
/研发工具/*.pdb
/研发工具/*.xml
/UnityProj/Assets/Slua/LuaObject
/UnityProj/Assets/Slua/LuaObject.meta
/UnityProj/.vs/*
/UnityProj/Library/*
/UnityProj/Logs/*
/UnityProj/obj/*
/UnityProj/*.sln
/UnityProj/*.csproj
/UnityProj/Assets/StreamingAssets
